<ul class="holiday_list">
    {{if . | len}}
        {{range .}}
        <li class="holiday">
            <p class="holiday__day">{{if lt .Day 10}}0{{.Day}}{{else}}{{.Day}}{{end}}</p>
            <p class="holiday__info">
                <span class="holiday__month">{{.Month}}</span>
                <span class="holiday__name">{{.Name}}</span>
                <span class="holiday__week-day">{{.WeekDay}}</span>
                <span class="holiday__days_left">en {{.DaysLeft}} {{if gt .DaysLeft 1}}Días{{else}}Día{{end}}</span>
            </p>
        </li>
        {{end}}
    {{else}}
        <p class="holiday__month">No más días festivos en el año.</p>
    {{end}}
</ul>